#profilePicture {
width: 400px;
border-radius: 10px;
}
body {
  background-color: rgb(210, 230, 242);
  display: flex; 
  flex-direction: column;
  align-items: center;
}
h1 {
  color: rgb(100, 117, 195);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
  color: rgb(100, 117, 195);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}
a {
  text-decoration: none; 
}
